<h1>Eat-Da-Burger</h1>

<section class="uneaten_burgers">
	<h2>Burgers not devoured yet</h2>

	<ul>
		{{#each burgers}}
			{{#unless this.devoured}}
				<li>
					<img src="../assets/img/Burger_color.svg" alt="Burger Image" width="100" height="100">
					{{this.id}}
					{{this.burger_name}}
					{{> update-burger}}
				</li>
			{{/unless}}
		{{/each}}
	</ul>
</section>

<section class="add_burger">
	<h2>Enter a burger</h2>
	{{> add-burger}}
</section>

<section class="eaten_burgers">
	<h2>Burgers devoured</h2>

	<ul>
		{{#each burgers}}
			{{#if this.devoured}}
				<li>
					{{this.id}}
					{{this.burger_name}}
					{{> delete-burger}}
				</li>
			{{/if}}
		{{/each}}
	</ul>
</section>

